<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>Bucket List</title>
</head>
<body>
	<div class="main-wrapper">

		<h1><a href="/">My Bucket List</a></h1>

		<%= yield %>

		<footer></footer>

	</div>
</body>
</html>